/**** FONTS ****/
/**** COLORS ****/
/**** WIDTH ****/
.cities__container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "photo1 photo2 photo2" "photo3 photo3 photo4" "photo5 photo6 photo6";
}
.cities__first-photo {
  background-image: url("../Img/1st-section/image-1.jpg");
  background-repeat: no-repeat;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo1;
}
.cities__second-photo {
  background-image: url("../Img/1st-section/image-2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo2;
}
.cities__third-photo {
  background-image: url("../Img/1st-section/image-3.jpg");
  background-repeat: no-repeat;
  width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo3;
}
.cities__fourth-photo {
  background-image: url("../Img/1st-section/4.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo4;
}
.cities__fifth-photo {
  background-image: url("../Img/1st-section/5.jpg");
  background-repeat: no-repeat;
  width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo5;
}
.cities__sixth-photo {
  background-image: url("../Img/1st-section/6.jpg");
  background-repeat: no-repeat;
  width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo6;
}

.nature__container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas: "photo1 photo2 photo2" "photo3 photo3 photo4" "photo5 photo5 photo6";
}
.nature__first-photo {
  background-image: url("../Img/2nd-section/1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo1;
}
.nature__second-photo {
  background-image: url("../Img/2nd-section/2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo2;
}
.nature__third-photo {
  background-image: url("../Img/2nd-section/3.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 770px;
  border-radius: 20px;
  grid-area: photo3;
}
.nature__fourth-photo {
  background-image: url("../Img/2nd-section/4.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 770px;
  border-radius: 20px;
  grid-area: photo4;
}
.nature__fifth-photo {
  background-image: url("../Img/2nd-section/5.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo5;
}
.nature__sixth-photo {
  background-image: url("../Img/2nd-section/6.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo6;
}

.people__container {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "photo1 photo2 photo3" "photo4 photo2 photo5" "photo6 photo7 photo5" "photo6 photo8 photo8" "photo9 photo9 photo10";
}
.people__first-photo {
  background-image: url("../Img/3d-section/1.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo1;
}
.people__second-photo {
  background-image: url("../Img/3d-section/2.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 770px;
  border-radius: 20px;
  grid-area: photo2;
}
.people__third-photo {
  background-image: url("../Img/3d-section/3.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo3;
}
.people__fourth-photo {
  background-image: url("../Img/3d-section/4.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo4;
}
.people__fifth-photo {
  background-image: url("../Img/3d-section/5.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 770px;
  border-radius: 20px;
  grid-area: photo5;
}
.people__sixth-photo {
  background-image: url("../Img/3d-section/6.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 770px;
  border-radius: 20px;
  grid-area: photo6;
}
.people__seven-photo {
  background-image: url("../Img/3d-section/7.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo7;
}
.people__eight-photo {
  background-image: url("../Img/3d-section/8.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo8;
}
.people__nine-photo {
  background-image: url("../Img/3d-section/9.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 770px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo9;
}
.people__ten-photo {
  background-image: url("../Img/3d-section/10.jpg");
  background-repeat: no-repeat;
  width: 100%;
  max-width: 370px;
  height: 370px;
  border-radius: 20px;
  grid-area: photo10;
}

body {
  width: 1440px;
  margin: 0 auto;
}

.container {
  width: 100%;
  max-width: 1170px;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 30px;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}

.header {
  font-family: "Delius Unicase";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.05em;
  color: #000000;
  margin-top: 120px;
  margin-bottom: 80px;
}

.author {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin-left: 20px;
}

.date {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  color: #E0E0E0;
  margin-right: 20px;
}