@import 'variables/variables.scss';
@import 'blocks/blocks';

body {
    width: $width;
    margin: 0 auto;
}

.container {
    width: 100%;
    max-width: $content-width;
    text-align: center;
}

.grid {
    display: grid;
    grid-gap: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.header {
    font-family: $font-secondary;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    letter-spacing: 0.05em;
    color: $black-default;
    margin-top: 120px;
    margin-bottom: 80px;
}

.author{
    font-family: $font-primary;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: $white-deefault;
    margin-left: 20px;
}

.date {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: $secondary; 
    margin-right: 20px;
}


