/**** FONTS ****/
$font-primary:'Roboto', sans-serif;
$font-secondary:'Delius Unicase';
/**** COLORS ****/
$white-deefault:    #FFFFFF;
$black-default:     #000000;
$primary:           #E5E5E5;
$secondary:         #E0E0E0;

/**** WIDTH ****/
$width:1440px;
$content-width: 1170px;