.cities {

    &__container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        'photo1 photo2 photo2'
        'photo3 photo3 photo4'
        'photo5 photo6 photo6';
    }

    &__first-photo {
        background-image: url('../Img/1st-section/image-1.jpg');
        background-repeat: no-repeat;
        backdrop-filter: blur(5px);
        width: 100%;
        max-width: 370px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo1;
    }

    &__second-photo {
        background-image: url('../Img/1st-section/image-2.jpg');
        background-repeat: no-repeat;
        width: 100%;
        max-width: 770px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo2;
    }

    &__third-photo {
        background-image: url('../Img/1st-section/image-3.jpg');
        background-repeat: no-repeat;
        width: 770px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo3;
    }

    &__fourth-photo {
        background-image: url('../Img/1st-section/4.jpg');
        background-repeat: no-repeat;
        width: 100%;
        max-width: 370px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo4;
    }

    &__fifth-photo {
        background-image: url('../Img/1st-section/5.jpg');
        background-repeat: no-repeat;
        width: 370px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo5;
    }
    
    &__sixth-photo {
        background-image: url('../Img/1st-section/6.jpg');
        background-repeat: no-repeat;
        width: 770px;
        height: 370px;
        border-radius: 20px;
        grid-area: photo6;
    }
}